**/node_modules
**/.next
**/dist
**/.git
**/.turbo
**/*.md
**/coverage
**/.env
**/.env.*
!**/.env.local.example
**/tfplan*
**/.terraform
**/agent-transcripts
**/.cursor
**/terminals
apps/api/prisma/migrations/**/migration_lock.toml
infra
.wireframes
**/tsconfig.tsbuildinfo
**/*.log
tmp
.git
